@model ASPNETCoreWithVueJs.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="app">
    <create-component create-product-url="@Url.Action("Create", "Product")"></create-component>
</div>

@section Scripts {
    <script src="@Url.Content("~/bundle/Product.js")"></script>
}
